.layout {
  display: grid;
  grid-template-areas:
    "header header header header "
    "sidebar main  sortby sortby"
    "profile main  sortby sortby";
  grid-gap: 3rem;
}

.header {
  grid-area: header;
  border: 1px solid black;
  padding: 24px;
}

.sidebar {
  grid-area: sidebar;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.main {
  grid-area: main;
  border: 1px solid black;
}
.card {
  border: 1px solid black;
}
.sort-by {
  grid-area: sortby;
  border: 1px solid black;
}
.profile {
  border: 1px solid black;
  grid-area: profile;
}
