.layout {
  display: grid;
  grid-template-areas:
    "header header header header "
    "sidebar sidebar  sidebar profile"
    "sortby sortby  main  main"
    "sortby sortby  main  main";
  grid-gap: 3rem;
  background-color: rgb(247 247 247);
}

.header {
  grid-area: header;
  border: 1px solid black;
  padding: 24px;
  background-color: white;
  color: rgb(106 97 206);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 800;
  font-size: large;
}

.sidebar {
  grid-area: sidebar;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
}
.sidebar-tab {
  display: flex;
  gap: 10px;
  align-items: center;
}
.home {
  font-weight: 900;
}
.home :hover {
  cursor: pointer;
}
.main {
  grid-area: main;
  /* border: 1px solid black; */
}

.sort-by {
  grid-area: sortby;
  border: 1px solid black;
}
.profile {
  /* border: 1px solid black; */
  grid-area: profile;
}
.header:hover{
  cursor: pointer;
}
.add-color {
  color: rgb(106 97 206);
}
.profile-card{
  display: flex;
  align-items: center;
  gap:15px;
  justify-content: center;
}

@media  (min-width:768px)
{
  .layout{
    grid-template-areas:
    "header header header header "
    "sidebar main  sortby sortby"
    "sidebar main  sortby sortby"
    "profile main  sortby sortby";
  }
  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
  }
}
